---
import Layout from '../../layouts/layout.astro';
import { getArticle, renderRichText } from '../../lib/contentful';

const { id } = Astro.params;

const article = await getArticle(id as string);
---

<Layout title="HOVB">
	<main>
		<a href="/" class="text-gradient">← Back</a>
		<h1 class="text-gradient">HOVB</h1>
		<ul>
			<li>
				<h2>{article.fields.title}</h2>
				<article set:html={renderRichText(article.fields.description)} />
			</li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
</style>
